*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url(image/fondo2.jpg) center top;
}

.nav-bar{
    display: flex;
    padding:  2% 4%;
}

.nav-logo img{
    width: 100px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
}

.nav-links ul a{
    color: floralwhite;
    text-decoration: none;
    font-size: 15px;
    padding: 7px;
}

.nav-links ul a li:hover{
    border-bottom: 1px solid #ffffff;
    padding: 2px;
}

.hero{
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
}

h1{
    font-size: 50px;
    color: transparent;
    -webkit-text-stroke: 0.5px #ffffff;
    background:  url(image/back\ -\ copia.png);
    -webkit-background-clip: text;
    background-position: 0 0 ;
    animation:  back 20s linear infinite;
    margin-bottom: 1%;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}
.btn{
    width: 100px;
    height: 40px;
    border: 1px solid #ffffff;
    color: #ffffff;
    margin: auto;
    cursor: pointer;
    position:  relative;
    overflow: hidden;
}

.btn p{
    font-size: 15px;
    padding-top: 12px;
    font-weight: bold;
}


span{
    width: 80px;
    height: 80px;
    top: 80px;
    position: absolute;
    background: floralwhite;
    z-index: -1;
    transition: .1s;
}

span:nth-child(1){
    left: -20px;
    transition-delay: .1s;
}
span:nth-child(2){
    left: -30px;
    transition-delay: .3s;
}
span:nth-child(3){
    left: 20px;
    transition-delay: .5s;
}
span:nth-child(4){
    left: 50px;
    transition-delay: .7s;
}
span:nth-child(5){
    left: 125px;
    transition-delay: .9s;
}

.btn:hover p{
    color: #0019a9;
    transition-delay: .5s;
}

.btn:hover span{
    top: -10px
}

.menu-icon{
    width: 30px;
    display: none;
}

.social-icons{
    width: 50px;
    position: absolute;
    top: 75%;
    left: 0;
}

.social-icons img{
    display:block;
    width: 19px;
    margin: 0 auto 20px;
    cursor: pointer;
}



@media(max-width:700px){
    .hero h1{
        font-size: 26px;
        margin-bottom: 1%;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links ul{
        padding: 1px ;
        position: relative;
        z-index: 1;
        background-color: #0019a9;
        text-align: center;
        margin-top: 30px;
    }
    .nav-logo{
        margin-top: 10px;
        margin-left: 10px;
    }

    .menu-icon{
        display: block;
        top: 20px;
        right: 35px;
        position: absolute;
        cursor: pointer;
    }

    #mobileMenu{
        height: 0;
        padding: 8px;
        overflow: hidden;
        transition: 1s;
    }
}

@media(max-width:420px){
    .hero h1{
        font-size: 20px;
    }
}


@media(max-width:320px){
    .hero h1{
        font-size: 18px;
    }
}
